---
---

@import "{{ site.theme }}";

@font-face { font-family: "unscii"; src: url("../fonts/unscii-16-full.woff") format('woff'); }
       body { font-family: "Lucida Console", "unscii", monospace, Monaco; font-size: 16px; line-height: 1.0; }
       pre { font-family: "Lucida Console", "unscii", monospace, Monaco; font-size: 16px; line-height: 1.0; }
         a { color: #8cc6fc; text-decoration: none; } /* blue */
         y { color: #fff68f; } /* yellow */
        lg { color: #aaaaaa; } /* grey */
         n { color: #fc8cc6; } /*pink */
         w { color: #ffffff; } /* white */
         o { color: #fcc28c; } /* orange */
         r { color: #f22e2e; } /* red */
    h1,h2,
  h3,h4,h5 { font-family: "unscii" !important; color: #fcc28c; padding: 0px; margin: 0px; }
       .kl { background-color: #0c0d10;
             color: #8cfcc2;
             cursor: pointer;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-family: "unscii", "Lucida Console", monospace, Monaco;
             font-size: 16;}
  .active,
 .kl:hover { color: #c28cfc; }
  .content { display: none; overflow: hidden; }
        hl { color: #c2ff98; } /* For highlighting indent blocks */
        ht { color: #f5ff98; }
     .hljs { background-color: #000;font-family:"unscii", "Lucida Console", monospace, Monaco; border-style: solid; }
.header-links { text-align: center; }
.header-link { display: inline; }
header h2 {
     font-size:18px;
     font-weight:300;
     color:#666
    }
header h1 {
     font-size:30px;
     line-height:1.5;
     font-weight:bold;
     margin:0 0 0 0px;
     font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
     color:#b5e853;
     text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
     letter-spacing:-1px;
     -webkit-font-smoothing:antialiased
}
